.App {
  text-align: center;
}

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #01bcd6;
}

.scrollable {
  overflow-y: scroll;
  height: auto;
}

.wordLink {
  text-decoration: none;
}

.blueHeader {
  position: relative;
  width: 100%;
  top: 0;
  background-color: #01bcd6;
}

.backButton {
  position: relative;
  left: 0;
}

button {
  background-color: yellow
}